@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700&display=swap");

:root {
  --bg-color: #121212;
  --surface-color: rgb(255, 255, 255, 0.05);
  --surface-color-hover: rgb(255, 255, 255, 0.1);
  --surface-color-solid: rgb(25, 25, 25);
  --surface-color-dark: rgb(0, 0, 0, 0.15);
  --p-color: #bb86fc;
  --p-color-trans: rgba(187, 134, 252, 0.15);
  --p-color-scroll: rgba(187, 134, 252, 0.3);
  --p-color-scroll-light: rgba(187, 134, 252, 0.5);
  --p-dark-var: #3700b3;
  --p-light-var: #6200ee;
  --s-color: #03dac5;
  --text-color: #eee;
  --box-shadow: black 1px 2px 3px;
  --box-shadow-thin: black 0px 1px 3px;
  --box-shadow-thick: black 1px 2px 5px;
  --box-shadow-thick2: black 1px 2px 8px;
  --offset1: 15px;
  --offset2: -15px;
  --nav-height: 75px;
  --dark-hover: rgb(0, 0, 0, 0.2);
}

* {
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--p-color-scroll);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--p-color-scroll-light);
}
